{% extends 'comun2.html'%}
{% block body %}
<div class="container">
    <form method="POST" action="/link">
      <table>
        <thead>
          <tr>
            <td>Usuario</td>
            <td>Pasword</td>
        </thead>
        <tbody>
          <tr>
            <td>
              <input type="text" name="user" placeholder="Usuario">
            </td>
            <td>  
              <input type="password" name="passw" placeholder="Pasword">
            </td>
          </tr>
        </tbody>
      </table>
      <input type="submit" value="enviar">  
      <a href="/regi" onclick="/reg">Registrarse</a>  
    </form>
</div>
{%endblock%}
